.wrapper {
  position: relative;
  margin: 7em auto auto auto;
  width: 100%;
  .fourCardsWrapper {
    position: relative;
    top: 45em;
    display: flex;
    justify-content: space-between;
   ul {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     gap: 1.5em;
     margin-left: -2em;
   }

  }
}