.wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  .insideWrapper {
    position: absolute;
    height: 100%;
    width: 748px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .biggestText {
      font-weight: 700;
      font-size: 150px;
      line-height: 148.9%;
      white-space: nowrap;
      color: white;
    }
    .smallText {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: white;
    }
  }
  .buttonBox {
    width: 319px;
    height: 90px;
    background: linear-gradient(86.06deg, #F55AC3 2.66%, #9F5CEE 124.94%);
    backdrop-filter: blur(25px);
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    .button {
      white-space: nowrap;
      width: 319px;
      height: 90px;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
      cursor: pointer;
      font-style: normal;
      font-weight: 500;
      font-size: 2em;
      line-height: 34px;
    }
  }
}