.lightScheme {
  display: flex;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: #262626;
  border-radius: 20px;
  .button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 3px;
  }
}